<form [formGroup]="orderForm" fxLayout="column row" (ngSubmit)="checkout()">
  <mat-form-field>
    <input type="text" matInput formControlName="email" placeholder="Email">
  </mat-form-field>
  <button type="button" (click)="addOrderDetails()">Add</button>
  <div formArrayName="orderDetails">
    <div *ngFor="let item of orderDetails.controls; let i = index" [formGroup]="item">
      <mat-form-field>
        <input type="text" matInput formControlName="description" placeholder="Description">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput formControlName="quantity">
      </mat-form-field>
      <mat-icon (click)="removeOrderDetails(i)">delete</mat-icon>
    </div>
  </div>
  <button type="submit">Submit</button>
</form>